 section {
  max-width: 1400px;
  margin: auto;

  .text-container {
    padding-top: 1rem;
    h1 {
      font-weight: bold;
      color: white;
      margin-bottom: .5rem;
    }

    p {
      font-size: 1rem;
      max-width: 800px;
    }
  }

  .form-field-container {
    margin-top: 1rem;
  }
  .loading-container {
    margin-top: 2rem;

    h2 {
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 4rem;
      
      span {
        color: #222328;
        font-weight: 600;
      }
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: .5rem;
    }
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}