.photo-container {
  position: relative;


  img {
    max-width: 30rem;
    border-radius: 1rem;
  }


  .hover-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    margin: 0.8rem 0.5rem;
    align-items: center;
    max-height: 10rem;
    gap: 1rem ;
    padding: 1rem;
    flex-direction: column;


    p {
      color: white;
    }
    .bottom-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    .name-container {
      display: flex;
      align-items: center;
      gap: .5rem ;


      p {
      color: white;
      
      }

      div {
        color: white;
        background: #D77A61;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        opacity: 1;
      }
    }


    
  }
  &:hover .hover-container {
    display: flex;
    opacity: 0.8;
    transition: .3s;

  }
  button {
    all: unset;
    cursor: pointer;
    width: 2rem;
    height: 2rem;

    img {
    background: transparent;
      max-width: 2rem;
    }
  }

  button:hover {
    transform: scale(1.15);
    transition: .3s;
    border: white;
  }

  button:active {
    transform: scale(0.95);
    transition: .1s;
  }
}
