.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    max-width: 265px;
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3s steps(90, end),
      blink-caret .75s step-end infinite;
  }
}
